

    
body{
    background-color: #070707;
}

h1{
    color: aliceblue;
    font-family:'Roboto';font-size: 22px;
}

img{
    border-radius: 20px;
}

 
   
    
    



footer ul a{

    color: blue;
    text-decoration: none;
    
  
    
}

   footer ul {
    display: inline;}

   footer {

    padding-top: 100px;
   }

  

    
   

    
nav {
    background-color:red; 
    height: 50px; 
  }
  
  nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden; 
  }
  
  nav li {
    float: left; 
  }
  
  nav li a {
    display: block; 
    color: white; 
    text-decoration: none;
    padding: 16px; 
    
  }
  
  nav li a:hover {
    background-color: #070707; 
  }
 

    
  

  
  
    